<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applipompes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pushups"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pushups"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Accueil"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Configuration"
            android:label="@string/configuration" />
        <activity
            android:name=".success.SuccessPage"
            android:label="@string/configuration" />

        <receiver android:name=".notifications.NotificationReceiver" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>